/target

.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.launch
*.iml
.idea
dependency-reduced-pom.xml
desktop.ini
/advancedregionmarket
/arminterface
/mc1-14adapter
/mc1-20adapter
/we7adapter
/wg7adapter
