name: Build Java Maven project

on:
  push:
    tags:
      - *

jobs:
  build:
    runs-on: ubuntu-20.04
    needs: compile
    name: Build the Maven Project
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'
          java-package: jdk
      - name: Build the project
        working-directory: advanced-region-market
        run: mvn clean install
      - name: Get artifacts
        run: |
          mkdir push
          cp ./advancedregionmarket/target/*.jar ./push
          rm -f ./push/original-*.jar
          rm -f ./push/*-shaded.jar
          rm -f ./push/*-sources.jar
          mv -f ./push/*-javadoc.jar ./push/JavaDocument.zip
      - name: Upload Maven build artifact
        uses: actions/upload-artifact@v2
        with:
          path: push/*