name: Build Java Maven project

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: ubuntu-20.04
    name: Build Maven project
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'
          java-package: jdk
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
        shell: bash
      - name: Build project
        run: |
          mvn versions:set -DnewVersion=${{ steps.get_version.outputs.VERSION }}
          mvn versions:commit
          mvn clean
          mvn install -P free-version
      - name: Get artifacts
        run: |
          mkdir push
          cp ./advancedregionmarket/target/*.jar ./push
          rm -f ./push/original-*.jar
          rm -f ./push/*-shaded.jar
      - name: Github release
        uses: softprops/action-gh-release@v1
        with:
          fail_on_unmatched_files: true
          files: push/*
